<h4>Train Name: <%= @train.name %></h4>

<% if @train.cities %>
  <ul>
    <% @train.cities.each do |city| %>
      <li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no cities to display.</p>
<% end %>

<p><a href="/trains/<%= @train.id %>/edit">Edit train</a></p>
<a href="/home">Return to home page</a>