<h1>All Cities in the Rad Train System</h1>

<h3>Available Cities</h3>

<% if @cities.any? %>
  <ul>
    <% @cities.each do |city| %>
      <li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no cities to display.</p>
<% end %>

<a href="/cities/new">Add a new city</a>
<a href="/home">Return to Train Station Home</a>